<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edgeviewer">

    <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Require a back camera -->
    <uses-feature android:name="android.hardware.camera.any" android:required="true" />

    <application
        android:allowBackup="true"
        android:label="EdgeViewer"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EdgeViewer">

        <activity
            android:name=".gl.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>